*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(./imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
  
  .login-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color:black;
    height: 430px
  }
  
  
  .login-form input {
    width: 85%;
    margin-bottom: 80px;
    padding: 10px;
    border:none;
    border-bottom: 1px whitesmoke solid;
    background-color: black;
    color: #fff;
  }
  
  .login-form input:focus{
outline: none;
  }
  .login-form input::placeholder{
    color: white;
    
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 5px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  h1{
    color: #fff;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  