body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    height: 100vh;
    background: url(./imagenes/login/v1010-pattern-12-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registro-box {
    width: 420px;
    height: 610px;
    background: #2e2727;
    color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 40px;


}
.registro-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 50px);
}
.registro-box h1{
    margin: 0%;
    padding: 0 0 35px;
    text-align: center;
    font-size: 29px
}
.registro-box label {
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    display: block;
}
.registro-box input{
    width: 100%;
    margin-bottom: 20px;
}
.registro-box input[type="text"],
.registro-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.registro-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(127, 59, 59);
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.registro-box input[type="date"]{
    border-radius: 8px;
    height: 20px;
    width: 200px;
    color: rgb(3, 3, 3);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: medium;
    

}
.registro-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
}
.registro-box a:hover{
    color: #fff;
}